/* Heren pagina */
/* Main */
main section:nth-of-type(1) h1 {
    padding-left: 2em;
    margin-bottom: 0;
    font-size: small;
    text-transform: uppercase;
    color: var(--light-color);
}

main section:nth-of-type(1) h2 {
    margin: 0;
    padding-left: 1.2em;
    text-transform: uppercase;
    font-size: 1.3em;
}

main section:nth-of-type(1) p {
    padding-left: 1.5em;
    color: var(--light-color);
}

main section:nth-of-type(1) button {
    margin: 0 0 0 2em;
    padding: 1em;
    border-radius: 2em 2em 2em 2em;
    border: none;
    width: 10em;
}

main section:nth-of-type(1) button img {
    width: 2em;
}

main section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1em !important;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: .5s;
}

main section:nth-of-type(2) ul.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    /* Twee kolommen */
}

main section:nth-of-type(2) ul.flex {
    display: flex;
    flex-direction: column;
}

/* Zorgt ervoor dat afbeeldingen netjes binnen hun container passen */
main section:nth-of-type(2) ul li img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    min-width: 0;
}




main section:nth-of-type(2) ul li button {
    position: absolute;
    background-color: white;
    border-radius: 3em;
    padding: .1em;
    z-index: 98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    margin: .5rem;
    right: 0;
    border: none;
    overflow: visible;

}

main section ul li a img {
    width: 100%;
}

main section:nth-of-type(2) ul li button svg.added {
    fill: black !important;
}


main section:nth-of-type(2) ul li button svg {
    fill: transparent;
    width: 60%;
    stroke: black;
    stroke-width: 0.03125em;
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


main section:nth-of-type(2) ul li button svg:hover {
    fill: black;
}


main ul li {
    width: 100%;
    min-width: auto;
}

main section:nth-of-type(2) ul {
    object-fit: cover;
}


section:nth-of-type(3) ul li a img {
    width: 0%;
}

footer section section:nth-of-type(3) ul {
    padding: 0 5em;
    gap: 0.8em;
}

footer section:nth-of-type(4) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 0.8em;
    opacity: 1;
}


footer section:nth-of-type(4) img {
    width: 3em;
    height: 3em;
    object-fit: contain;
}

main section:nth-of-type(2) ul li {
    position: relative;
}

main section:nth-of-type(2) ul {
    width: 100vw;
    padding: 1rem;
    min-width: auto;
    max-width: auto;
    grid-template-columns: repeat(2, 1fr);


}

main section:nth-of-type(2) ul li img {
    width: 100%;
    height: auto;
    display: block;
    max-height: fit-content;
}



/*  Footer  */

footer section:nth-of-type(2) ul {
    gap: 1em;
    max-width: 40em;
    margin: auto;
}


footer section:nth-of-type(2) ul li a img {
    width: 100%;
}


footer section:nth-of-type(1) section:nth-of-type(3) ul {
    padding: 0;
}

footer section:nth-of-type(2) h3 {
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: .8rem;
    width: 100%;
    padding: 0.8em;
    text-align: center;
    background-color: var(--light-color);
    color: var(--color-text);
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
}

footer>section:nth-of-type(3) ul {

    gap: 1rem;
    width: 100%;
    max-width: 23em;
    min-width: 20em;

}

/* Zorg dat de <li> alleen zo breed is als nodig */
footer>section:nth-of-type(3) ul li {
    display: inline-block;
    width: auto;
    text-align: center;
}

footer>section:nth-of-type(3) ul li a {
    width: 100%;
}

footer>section:nth-of-type(3) ul li a img {
    width: 100%;
}

footer ul {
    display: flex;
    padding: 0;
}


footer>section:nth-of-type(3) {
    width: 100%;
    justify-content: center;
    display: flex;
}


@media (min-width: 786px) {
    footer section:nth-of-type(2) h3 {

        font-size: 1rem;
    }

    footer>section:nth-of-type(3) ul li a {
        width: 20%;
    }


}