/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* Basis styling voor mobile-first (357px) */
body {
	margin: 0;
	background-color: white;
}

ul {
	display: flex;
	overflow-y: hidden;
	/* dit zorgt ervoor dat er geen overvloed is op de y as*/
	gap: 3rem;
}

ul li {
	list-style-type: none;
}

ul li img {
	width: 100%;
}